{% extends 'layout.html.twig' %}

{% block body %}
	<div class="container">
		<h3>Articles postés</h3>
        <hr />
		{% for article in articles %}
			<div class="row">
				<div class="col-xs-12">
					<h4>{{ article.titre }}</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					{% if article.date_modification %}
                    	<p>Modifié le <strong>{{ article.date_modification}}</strong></p>
                	{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<p>{{ article.chapo }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<a href="/article/detail/?id={{ article.id }}">Détail de l'article</a>
				</div>
			</div>
			<hr />
		{% endfor %}
	</div>
	<hr />
{% endblock %}

{% block title %} MBBlog {% endblock %}