{% extends 'layout.html.twig' %}

{% block body %} 
	<form method="get" action="">
		<p>Page pour rédiger un article</p>
			<label for="titre">Titre</label> : <input type="text" name="titre" id="titre" /><br />
			<label for="chapo">Châpo</label> : <textarea name="chapo" id="chapo"></textarea><br />
			<label for="auteur">Auteur</label> : <input type="texte" name="auteur" id="auteur"><br />
			<label for="contenu">Contenu</label> : <textarea name="contenu" id="contenu"></textarea><br />
			<button type="submit" class="btn btn-primary">Poster</button>
	</form>
{% endblock %}

{% block title %} MBBlog {% endblock %}