{% extends 'layout.html.twig' %}

{% block body %} 
	<p>Hello World !</p>
	<a href="/articles">Liste des articles</a><br />
	<a href="/article/ajouter">Ecrire un article</a><br />
{% endblock %}

{% block title %} 
	MBBlog 
{% endblock %}

{% block form %}
	<div class="container">
<!-- class="starter-template" -->
		<div>
			<form method="post" action="">
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label for="nom">Nom</label>
							<input type="text" name="nom" id="nom" required />
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label for="prenom">Prénom</label>
							<input type="text" name="prenom" id="prenom" required />
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label for="mail">Email</label>
							<input type="email" name="mail" id="mail" required />
						</div>
					</div>
					<div class="col-xs-12">
						<div class="form-group">
							<label for="message">Votre message</label>
							<textarea name="message" id="message" class="form-control"></textarea>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Envoyer</button>
				</div>
	</form>
{% endblock %}