{% extends 'layout.html.twig' %}

{% block title %} MBBlog {% endblock %}

{% block body %}{% endblock %}

{% block form %}
	<div class="container">
		<h3>Me contacter</h3>
		<hr />
		<div class="starter-template">
			<form method="post" action="">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="form-group">
							<label for="nom">Nom *</label>
							<input type="text" name="nom" id="nom" required />
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="form-group">
							<label for="prenom">Prénom *</label>
							<input type="text" name="prenom" id="prenom" required />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="form-group">
							<label for="mail">Email *</label>
							<input type="email" name="mail" id="mail" required />
						</div>
					</div>
					<div class="col-xs-12">
						<div class="form-group">
							<label for="message">Votre message</label>
							<textarea name="message" id="message" class="form-control"></textarea>
						</div>
					</div>
				</div>
					<button type="submit" class="btn btn-primary">Envoyer</button>
			</form>
		</div>
	</div>
	<hr />
{% endblock %}

{% block cv %}
	<div class="container">
		<a href="./../assets/pdf/cvmickaelbardeau.pdf">Télécharger mon CV au format PDF</a>
	</div>
{% endblock %}