{% extends 'layout.html.twig' %}

{% block body %} 
	<p>Page de modification d'un article</p>
	<p><i>Seuls les champs titre, chapô, auteur et contenu seront modifiables</i></p>
{% endblock %}

{% block title %} MBBlog {% endblock %}